.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

/*star rating styles*/
#newRating input, #editRating input {
	display: none;
}

.ratingStyle {
/*	margin-right: 0.25px;
	margin-left: 0.25px;*/
	border: 1.5px solid yellow;
}